.result-page{
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        margin: 2vh;
        min-height: 80vh;
        border-radius: 8vh;
        max-width: 80vh;
        z-index: -1;
        width: 80vw;
        background-color: blue;
}



.left-link{
    left: 0vw;
    border-top-right-radius: 8vw;
    border-bottom-right-radius: 8vw;

}

.right-link{
    right: 0vw;
    border-top-left-radius: 8vw;
    border-bottom-left-radius: 8vw;
}

.link-container{
    height: 100%;
    position: absolute;
    top: 0;
    width: 4vw;
}

.side-link{
height: 100%;
width: 2vw;
position: absolute;
z-index: 1000;
top: 0;
max-width: 250px;
transition: 0.5s;
padding-top: 10vh;
display: inline-flex;
flex-direction: column;
}

.side-link:hover{
    width: 8vw;
    opacity: 1;
    background-color: white;
    box-shadow: 0px 0px 20px 15px black; 
}

@keyframes expandLink {
    from {
        width: 1%;
        opacity: 0;
    }
    to {
        width: 4vw;
        opacity: 1;
    }
}

.text-field{
    width: 54vw;
    max-width: 60vh;
    z-index: 200;
    border-radius: 8vh;
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

.inner-information{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 2vh;
    align-items: center;
}

.info-field{
    padding-left: 20%;
    margin-left: 0vh;
    margin-right: 0vh;
    padding-bottom: 1vh;
    display: block;
    text-align: left;
    justify-content: center;
    color: black;
}

.info-field > span{
}

.relevant-image-vertical{
    display: flex;
    height: 50vh;
    z-index: 200;
    width: 40vh;
    max-width: 400px;
    border-radius: 8vh;
    background-color: inherit;
    box-shadow: 2px 2px black;
}

.relevant-image-horizontal{
    display: flex;
    height: 40vh;
    z-index: 200;
    width: 60vh;
    max-width: 600px;
    border-radius: 8vh;
    background-color: inherit;
    box-shadow: 2px 2px black;
}

.relevant-image-square{
    display: flex;
    height: 40vh;
    z-index: 200;
    width: 40vh;
    border-radius: 8vh;
    background-color: inherit;
    box-shadow: 2px 2px black;
}

.full-results-page{
    z-index: -1;
}

.left-move {
    width: 10vh;
    z-index: 1000;
    left: 0;
    height: 10vh;
    background-color: white;
    border: 10px solid white;
}
.right-move {
    margin: 10px;
    z-index: 1000;
    width: 10vh;
    left: 0;
    height: 10vh;
    background-color: white;
    border: 10px solid white;
}